absl-py
astunparse
blinker
certifi
charset-normalizer
click
colorama
Flask
flatbuffers
gast
google-pasta
grpcio
h5py
idna
itsdangerous
Jinja2
joblib
keras
libclang
Markdown
markdown-it-py
MarkupSafe
mdurl
ml_dtypes
namex
numpy
opt_einsum
optree
packaging
pillow
protobuf
Pygments
requests
rich
scikit-learn
scipy
six
tensorboard
tensorboard-data-server
tensorflow
termcolor
threadpoolctl
typing_extensions
urllib3
Werkzeug
wrapt
